/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
#menu-posts-niveau3 div.wp-menu-image:before {
	content: "\f493" !important;
	display:none;
}
/*********************
GENERAL STYLES
*********************/

body {
	font-family: $Poppins;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#container{
	overflow: hidden;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	//width: 96%;
	margin: 0 auto;
	max-width:1920px;
}

.img100{
	width:100%;
	height:auto;
	border:0;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}


h1, .h1 {
	font-family:$Knewave; 
	color:#fff;
	text-align:center;
	font-size:8vw;
	line-height: 7vw;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 { font-family: $Poppins; } 

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.3em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: #ffd23c;
	z-index:1000;
	height:60px;
}

	#logo {
		float:left;
		margin: 0.5em 0 0 0.5em;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
	// menu vertical
	#verticalMenu {
		display: block;
		position:relative;
		width:100%;
		margin:42px auto 0;
		max-width:1920px;

		.vertical-nav {
			display:none;
			position:absolute;
			right:0;
			background:#ffd23c;
			padding:10px;
			z-index:1000;
			li {
				display:block;
				float:none;
				margin:10px 0;
			}

		}
	}

.nav {
	display: inline-block;

	li {
		a {
			color: $white;
			text-decoration: none;
			margin: 0 0.75em;
			padding: 0.2em 0.4em;
			text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	/*margin-top: 1.5em;*/
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			/*border: 1px solid $border-color;*/

			header {
				/*border-bottom: 1px solid $light-gray;
				padding: 1.5em;*/
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
		Carousel
******************************************************************/
	

	#carousel1{
		text-align:center;
		color:#0181a6;
		@include css-gradient-backgrnd(top, bg_formes2,60deg, #fec3c3, #fbd8c0);
	}
	
	#carousel2{
		text-align:center;
		color:#0181a6;
		@include css-gradient-backgrnd(left, bg_formes2,60deg, #51bade, #7ce3e9);
	}

    .flexslider{
    	min-height:200px;
    	/*background-color:blue;*/
    	margin: 0;
		padding: 0;
		position: relative;
		zoom: 1;
    }

    .slides li{
    	//display:block;
    	color:white;
    }

		/* ====================================================================================================================
		 * RESETS
		 * ====================================================================================================================*/
		.flex-container a:hover,
		.flex-slider a:hover {
		  outline: none;
		}
		.slides,
		.slides > li,
		.flex-control-nav,
		.flex-direction-nav {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
		.flex-pauseplay span {
		  text-transform: capitalize;
		}
		/* ====================================================================================================================
		 * BASE STYLES
		 * ====================================================================================================================*/

		.flexslider .slides > li {
		  display: none;
		  -webkit-backface-visibility: hidden;
		}

		.flexslider .slides:after {
		  content: ">>";
		  display: block;
		  clear: both;
		  visibility: hidden;
		  line-height: 0;
		  height: 0;
		}
		html[xmlns] .flexslider .slides {
		  display: block;
		}
		* html .flexslider .slides {
		  height: 1%;
		}
		.no-js .flexslider .slides > li:first-child {
		  display: block;
		}
		/* ====================================================================================================================
		 * DEFAULT THEME
		 * ====================================================================================================================*/

		.flexslider .slides {
		  zoom: 1;
		}
		.flexslider .slides img {
		  height: auto;
		  -moz-user-select: none;
		}
		.flex-viewport {
		  max-height: 2000px;
		  -webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  -ms-transition: all 1s ease;
		  -o-transition: all 1s ease;
		  transition: all 1s ease;
		}
		.loading .flex-viewport {
		  max-height: 300px;
		}
		.carousel li {
		  margin-right: 5px;
		}
		.flex-direction-nav {
		  *height: 0;
		}
		.flex-direction-nav a {
		  text-decoration: none;
		  display: block;
		  width: 40px;
		  height: 40px;
		  margin: -20px 0 0;
		  position: absolute;
		  top: 50%;
		  z-index: 10;
		  overflow: hidden;
		  opacity: 0;
		  cursor: pointer;
		  color: rgba(0, 0, 0, 0.8);
		  /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
		  -webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -ms-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;*/
		}
		.flex-direction-nav a:before {
		  font-size: 40px;
		  display: inline-block;
		  content: '<';
		  color: rgba(0, 0, 0, 0.8);
		  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
		}
		.flex-direction-nav a.flex-next:before {
		  content: '>';
		}
		.flex-direction-nav .flex-prev {
		  opacity: 1;
		  left: 10px;
		}
		.flex-direction-nav .flex-next {
		  opacity: 1;
		  right: 10px;
		  text-align: right;
		}
		.flexslider:hover .flex-direction-nav .flex-prev {
		  opacity: 0.7;
		  left: 10px;
		}
		.flexslider:hover .flex-direction-nav .flex-prev:hover {
		  opacity: 1;
		}
		.flexslider:hover .flex-direction-nav .flex-next {
		  opacity: 0.7;
		  right: 10px;
		}
		.flexslider:hover .flex-direction-nav .flex-next:hover {
		  opacity: 1;
		}
		.flex-direction-nav .flex-disabled {
		  opacity: 0!important;
		  filter: alpha(opacity=0);
		  cursor: default;
		  z-index: -1;
		}
		.flex-pauseplay a {
		  display: block;
		  width: 20px;
		  height: 20px;
		  position: absolute;
		  bottom: 5px;
		  left: 10px;
		  opacity: 0.8;
		  z-index: 10;
		  overflow: hidden;
		  cursor: pointer;
		  color: #000;
		}
		.flex-pauseplay a:before {
		  font-size: 20px;
		  display: inline-block;
		  content: '\f004';
		}
		.flex-pauseplay a:hover {
		  opacity: 1;
		}
		.flex-pauseplay a.flex-play:before {
		  content: '\f003';
		}
		.flex-control-nav {
		  width: 100%;
		  position: absolute;
		  bottom: 0px;
		  text-align: center;
		}
		.flex-control-nav li {
		  margin: 0 6px;
		  display: inline-block;
		  zoom: 1;
		  *display: inline;
		}
		.flex-control-paging li a {
		  width: 11px;
		  height: 11px;
		  display: block;
		  background: #666;
		  background: rgba(0, 0, 0, 0.5);
		  cursor: pointer;
		  text-indent: -9999px;
		  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
		  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
		  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
		  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
		  -webkit-border-radius: 20px;
		  -moz-border-radius: 20px;
		  border-radius: 20px;
		}
		.flex-control-paging li a:hover {
		  background: #333;
		  background: rgba(0, 0, 0, 0.7);
		}
		.flex-control-paging li a.flex-active {
		  background: #000;
		  background: rgba(0, 0, 0, 0.9);
		  cursor: default;
		}
		.flex-control-thumbs {
		  margin: 5px 0 0;
		  position: static;
		  overflow: hidden;
		}
		.flex-control-thumbs li {
		  width: 25%;
		  float: left;
		  margin: 0;
		}
		.flex-control-thumbs img {
		  width: 100%;
		  height: auto;
		  display: block;
		  opacity: .7;
		  cursor: pointer;
		  -moz-user-select: none;
		  -webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  -ms-transition: all 1s ease;
		  -o-transition: all 1s ease;
		  transition: all 1s ease;
		}
		.flex-control-thumbs img:hover {
		  opacity: 1;
		}
		.flex-control-thumbs .flex-active {
		  opacity: 1;
		  cursor: default;
		}


/******************************************************************
		Header témoignages + header accueil
******************************************************************/

.article-header{
	position:relative;
	max-width:1920px;
	max-height:1040px;
 }

/* Première image de fond, doit être en relatif  */
#masterLayer { position:relative !important; z-index:0;}

/* Tout les layers */
._layer{
	position:absolute;
	width:100%;
	height:auto;
	max-width:1920px;
	max-height:1040px;
	top:0;
}

._layer img{
	height:auto;
	width:100%;
}

._layer div{
	position:absolute;
	top:0;
	width:100%;
}

._layerTxt, ._layerTxtLeft{
	font-family:Knewave; 
	color: #fff;
	font-size:6vw;
	
}

._layerTxtLeft{ text-align:right; }

._layerCitation{
	visibility:hidden;
	color: #fff;
	font-size:2vw;
}

._quote::before {
	content:"«";
}

._quote::after {
	content:"»";
}

/******************************************************************
ACCUEIL
******************************************************************/
.home {

	/* définis l'ordre des éléments */
	#txt1 { z-index:5;  }
	#img1{ z-index:10; }
	#txt2 { z-index:15;  }
	#img2{ z-index:20; }
	#txt3 { z-index:25;  }
	#citation { z-index:30;  } 


	/* Style des textes  */

	#txt1 {
			margin-top:12%;
			padding-left: 50%;
			div {
				//@include animCss-delay(0s);
			}
	}

	#txt2 {
			
			margin-top:20%;
			padding-left: 53%;
			@include animCss-delay(0.2s);
	}

	#txt3 {
			margin-top:28%;
			padding-left: 55%;
			@include animCss-delay(0.4s);
	}

	#citation {
			margin-top:12%;
			padding: 0 20% 0 55%;
	}

	#MotDuPresident{
		@include css-gradient-backgrnd(top, bg_formes,60deg, #d8ceff, #edcdff);
		color:#694dd5;

		#videoPresident {
			//position: relative;
			overflow:hidden;
			cursor:pointer;
			
			#videoPlayer{
				position:fixed;
				display:none;
				top:0;
				z-index:100;
				width:100%;
				height:100%;
				background:black;

				.closeVid{
					position:fixed;
					top:20px;
					right:0;
					padding:10px 10px 0 10px;
					z-index:110;
					background:blue;
					font-weight: bold;
					color: white;
					font-size: 3vw;
				}
			}
		}

		#presidentTextes{
			text-align:center;
			width: 60%;
			margin:0 auto;
			padding: 5%;
		}
	}

	#merciavous{
		border-bottom:#fff3c7 15px solid;
		border-top:#fff3c7 15px solid;
		background:url(../../library/images/bg_merci.jpg) no-repeat top #ffeca2;
		background-size:auto 100%;
		color:#fe5e5e;
		.wrap_merci {
			text-align:center;
			width: 60%;
			margin:0 auto 10%;
		}
	}
} // Fin Accueil

/******************************************************************
		Merci à vous
******************************************************************/
.merciPage {
	.intro_merci{
		@include css-gradient-backgrnd(top, bg_formes,60deg, #fec3c3, #fbd8c0);
		border-bottom:#ffb9b9 15px solid;
		border-top:#ffb9b9 15px solid;
		color:#fe5e5e;
		text-align:center;
		padding: 5%;

		p {
			width: 60%;
			margin:0 auto;
		}

	}

	/* définis l'ordre des éléments */
	#txt1 { z-index:5;  }
	#txt2 { z-index:10;  }
	#img1{ z-index:25; }
	/* Style des textes  */
	#txt1 {
			margin-top:4%;
			padding-right: 60%;
			div {
				//@include animCss-delay(0s);
			}
	}

	#txt2 {
			margin-top:13%;
			padding-right: 60%;
			@include animCss-delay(0.2s);
	}

	.box_rene {
		position:relative;
		color:#0181a6;
		font-weight:bold;
		font-size:12px;
		text-align:center;
		@include css-gradient-backgrnd(top, bg_formes,60deg, #78d8e8, #78d8e8);	
	}

	.box_pink {
		background:#fdc8c2;
		color:#fe5e5e;
		padding:30px;
	}

	.box_blue {
	    background: #7adeeb;
	    color: #0181a6;
	    padding:20px;
	}

	.boxGrandBenevole { position:relative; }


}
///////// css général à replacer!!!!!!!!!!!!!!!!!! //////////////////////
.boxTextOver{
	display:none;
	position: absolute;
	top:0px;
	z-index:1000;
}

.closeBoxOver {
	float:right;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
}

.showBoxOver{ cursor:pointer; }

.box {
	width:100%;
	text-align:center;
	padding:20px 0;
}

.box_grand_don {
	color:#fe5e5e;
	@include css-gradient-backgrnd(top, bg_formes,60deg, #fec3c3, #fbd8c0);
}

.squareBox, .tiersBox{ overflow:hidden; }


/******************************************************************
	Niveau3
******************************************************************/
.niveau3 {
	article {
	  -moz-column-width: 20em;
	  -webkit-column-width: 20em;
	  -moz-column-gap: 1em;
	  -webkit-column-gap: 1em;
	}
}
/******************************************************************
	Liste donateurs
******************************************************************/
.listeDonateurs {

	.article-header {
		@include css-gradient-backgrnd(top, bg_formes,60deg, #fec3c3, #fbd8c0);
		width:100%;
		color:#fe5e5e;
		text-align:center;
		p {
			width:60%;
			margin:0 auto;
			padding: 5px 0;
		}
	}
}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background:url(../../library/images/bg_footer.jpg) repeat top center;
	//color: $light-gray;


	.text_footer {
		text-align:center;
		color:#ff5656;
		margin:3% 0;
	}

	#bt_footer1:hover #mag, #bt_footer2:hover #jc, #bt_footer3:hover #adam{
		display : block;
	}

	#mag, #jc, #adam {
		position:absolute;
		display:none;
		top:0;
		z-index:1000;
		height:60%;
	}

	.footer_end {
		background:#ffd23c;
		height:30px;
	}

	.bt_footer{
		position:relative;
		padding: 0 5% 0 2%;
	}
}